SERVER_PORT=3000

CORS_ORIGIN=http://localhost:3001
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=mysql://root:password@localhost:3306/db
REGISTRATION_ENABLED=false

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://your-website.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM=your-email@gmail.com
CONTACT_EMAIL=your-email@gmail.com

# Cloudflare Turnstile
TURNSTILE_SECRET_KEY=your-turnstile-secret-key

# Brevo.com API
BREVO_API_KEY=
BREVO_SENDER_EMAIL=your-verified-email@yourdomain.com
BREVO_SENDER_NAME=BWitek.dev
BREVO_PL_LIST_ID=
BREVO_EN_LIST_ID=
BREVO_CONTACTS_LIMIT=100

# Newsletter customization
NEWSLETTER_COMPANY_ADDRESS_PL=Blog o technologii i programowaniu
NEWSLETTER_COMPANY_ADDRESS_EN=Technology and programming blog